  body {
    font-family: 'Helvetica';
    font-weight: 300;
    color: lime;
    margin: 0px;
    padding: 50px;
    overflow: auto;
    font-size: 16px;
    background-color:black;
  }
  .container {
    max-width: 600px;
    margin: 0 auto;
    overflow: auto;
    z-index: 10;
  }
  @media (max-width: 500px) {
    body {
      padding: 20px;
    }
    button {
      margin: 20px 0 !important;
    }
  }
  h1 {
    font-family: 'Lato', 'Helvetica', Arial, sans-serif;
    font-weight: 300;
    margin-bottom: 0;
  }
  textarea {
    width: 100%;
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 16px;
    height: 150px;
    line-height: 24px;
    resize: none;
    padding: 15px;
    border-radius: 4px;
    background-color: black;
    color: orange;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    padding: 0 4px;
    line-height: 1.5;
    background-color: #eee;
    border-radius: 3px;
    margin: 0 4px 4px 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }
  select:focus {
    background-color: #7bd6cf;
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
    text-align: center;
    background: blue;
    color: white;
    font-weight: normal;
    transition: all .4s;
    height: 30px;
    border-radius: 2px;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 14px;
    margin: 20px;
    width: 130px;
  }

  .choose_theme {
    text-align: center;
  }

  #footer {
    margin-top: 100px;
    padding-top: 20px;
    border-top: 2px solid orange;
    text-align: center;
    text-transform: uppercase;
  }
  #footer > p {
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: .2em;
    padding-right: 6px;
  }
  .note {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 12px;
  }
  .red {
    color: orange;
  }
  a:link, a:visited {
    color: orange;
    text-decoration: none;
  }
  a:hover {
    color: #2196F3;
  }
  /* Hide this somewhere */
  #clipboardContents {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
  #output {
    padding: 15px;
    background-color: black;
    color: #54FE55;
    border-radius: 3px;
    font-weight: 500;
    font-family: monospace;
  }
 
